.bg-image {
  background-color: var(--dark-background-color);
  width: 100%;
}
.contact {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    background-size: 246px, 398px;
    background-repeat: no-repeat;
    background-image: url(../images/contacts/mobile@1x.png),
      url(../images/contacts/mobile_1@1x.png);
    background-position: 41px 651px, bottom 200px right -8px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/contacts/mobile@2x.png),
      url(../images/contacts/mobile_1@2x.png);
  }
  // Tablet screen
  @media screen and (min-width: 768px) {
    max-width: 768px;

    background-repeat: no-repeat;
    background-size: 880px, 291px;
    background-position: top -311px left -112px, bottom 203px right 246px;
    background-image: url(../images/contacts/table@1x.png),
      url(../images/contacts/table_1@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/contacts/table@2x.png),
        url(../images/contacts/table_1@2x.png);
    }
  }
  // Desktop screen
  @media screen and (min-width: 1280px) {
    max-width: 1280px;

    background-size: 291px, 712px;
    background-position: top 32px left 49px, bottom -21px right 68px;
    background-image: url(../images/contacts/desk@1x.png),
      url(../images/contacts/desk_1@1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/contacts/desk@2x.png),
        url(../images/contacts/desk_1@2x.png);
    }
  }
}
.contacts__title {
  padding-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);

  @media screen and (min-width: 768px) {
    padding-top: 74px;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 38px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 80px;
    margin-bottom: 80px;
  }
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row-reverse;
    padding-bottom: 79px;
  }
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  gap: 20px;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
  }
}
.form ::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #939eac;
}

.form__input {
  height: 40px;
  width: 100%;
  max-width: 440px;
  padding: 12px 8px;
  outline: transparent;
  border: none;
  background-color: var(--white-color);
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 288px;
  }

  &:valid {
    border: 1px solid black;
  }
  &:invalid {
    border: 2px solid red;
  }
}
.form__comment {
  height: 220px;
  max-width: 440px;
  width: 100%;
  border-radius: 5px;
  padding: 12px 8px;
  resize: none;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    max-width: 704px;
    max-height: 162px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 608px;
  }
}
.btn--footer {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1280px) {
    margin-right: 0;
  }
}
.socials__wrapper {
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    margin-right: 140px;
  }
}
.socials__wrapper-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: var(--white-color);
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    text-align: left;
  }
}
.socials__wrapper-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  margin-bottom: 41px;
  color: var(--white-color);
  @media screen and (min-width: 768px) {
    width: 500px;
    height: 38;
    font-size: 16px;
    line-height: 1.18;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 21px;
  }
}
.socials__list {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 41px;
  @media screen and(min-width: 1280px) {
    margin-bottom: 21px;
  }
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-image: linear-gradient(90deg, #00c5eb -2%, #b544fe 90%);
}
.icon-regular {
  transition: 400ms;

  .socials__link:hover .socials__link-icon & {
    opacity: 0;
  }
}
.icon-hovered {
  opacity: 0;
  transition: 400ms;

  .socials__link:hover .socials__link-icon & {
    opacity: 1;
  }
}
.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contacts__tel {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--white-color);
}
.contacts__mail {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--white-color);
}
