.features{
    margin-top: 40px;
    margin-bottom: 40px;
}
.features__container-color{
    @media screen and(min-width:1200px){
        max-width: 1200px;
    }  
}
.features__gradient{
    padding-bottom: 105px;
    background-image: url("../images/features/vector-top_mob.png"), url("../images/features/vector_mob.png");
    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx){
        background-image: url("../images/features/vector-top_mob@2x.png"),url("../images/features/vector_mob@2x.png");
    }
    background-size: 668px 567px, 627.76px 600.57px;
    background-position: top -100px left 50%, bottom left 50%;
    background-repeat: no-repeat;
    @media screen and(min-width:768px){
        background: none;
    }
    @media screen and (min-width:1280px){
        background-image: url("../images/features/vector-top_dec.png"), url("../images/features/vector_dec.png");
        @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx){
            background-image: url("../images/features/vector-top_dec@2x.png"),url("../images/features/vector_dec@2x.png");
        }
        background-size: 404px 253px, 1280px 823.76px;
        background-position: right 0, left bottom -200px ;
        background-repeat: no-repeat;
    }
}
.features__img{
    background-image: url("../images/features/features_mob.png");
    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx){
        background-image: url("../images/features/features_mob@2x.png");
    }
    background-size: 280px 409px;
    background-repeat: no-repeat;
    background-position: 50% 40px;
    @media screen and (min-width: 768px) {
        background-image: url("../images/features/group_tab.png");
        @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx){
            background-image: url("../images/features/group_tab@2x.png");
        }
        background-size: 368px 592px;
        background-position: left 0;
    }
    @media screen and (min-width: 1280px) {
        background-image: url("../images/features/group_dec.png");
        @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx){
            background-image: url("../images/features/group_dec@2x.png");
        }
        background-size: 396px 596px;
        background-position: 50%;
    }
}
.feature__padding{
    padding-top: 489px;
    @media screen and (min-width:768px){
        padding-top: 0;
    }
}
.features__main-title{
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    color: var(--black-color);
    margin-bottom: 40px;
}
.features__main-text{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 40px auto;
    @media screen and (min-width:1280px) {
        max-width: 886px;
        margin: 80px auto;
    }
}
.features__list{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:24px;
    @media screen and(min-width:768px) {
        max-height: 800px;
        align-items: center;
        flex-wrap: wrap;
        gap: 80px ;
    }
    @media screen and (min-width:1280px) {
        max-height: 600px;
        gap:80px 452px;
        padding: 60px 0;
    }
}
.features__item-container{
    display: flex;
    gap: 13px;
    margin-bottom: 9px;
}
.features__item{
    width: 260px;
    @media screen and (min-width: 768px) {
        width: 278px;
    }
    @media screen and (min-width: 1280px) {
        width: 260px;
    }
}
.features__item-title{
    font-size: 16px;
    line-height: 1.5;
    color:  var(--black-color);
}
.features__item-text{
    margin-left: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color:  var(--black-color);
}
.features__tablet{
    @media screen and (min-width:768px){
        margin-top: 672px;
    }
    @media screen and (min-width:1280px){
        margin-top: 0;
    }
    
}