.footer {
  background-color: #06071b;
}
.copyright {
  padding: 22px 83px 22px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #ffffff;
  border-top: 1px solid #ffffff;
}
