.backdrop {

    overflow: scroll;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10000;

    transition-property: opacity, visibility;
    transition-duration: 250ms;
    opacity: 1;
    pointer-events: initial;
    visibility: visible;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}


.modal {

    padding: 48px 24px;
    max-width: 480px;
    width: 100%;
    position: relative;

    background-color: var(--dark-background-color);

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(0);

    @media screen and (min-width:768px) {
        max-width: 568px;
        padding: 32px 40px;
    }

    &-btn {
        position: absolute;
        top: 20px;
        right: 20px;



        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: transparent;
        border: none;
        cursor: pointer;
    
     }
}


.modal__title{
    color: var(--white-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    display: block;
    text-align: center;
    margin-bottom: 24px;
    @media screen and (min-width:768px) {
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 28px;
        }
}

.download__checkbox{
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

   
}



.modal__list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
      
         

    @media screen and (min-width:768px) {
            gap: 22px;
        }
}


.modal__item{
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 394px;
    max-width: 233px;
    position: relative;
    flex-grow: 1;
    
    &:focus-within  {
            background-image: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
        }
  
    $border: 2px;
        color: #FFF;
        background: #000;
        background-clip: padding-box;
        border: solid $border transparent;
        border-radius: 6px;
    
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -$border;
        
            border-radius: inherit;
            
            background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
        }
    }

   



.list__subtitle{
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;  
}

.list__items{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 25px 28px 20px;
}

.list__item{
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
   
    &::before {
            content: '';
            display: inline-block;
            width: 14px;
            height: 14px;
            background-image: url(../images/hero/icon-right-arrow.svg);
        }
}

.download__items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__text{
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 28px;
    margin-bottom: 20px;
    @media screen and (min-width:768px) {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

.modal__wrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
    max-width: 232px;
    @media screen and (min-width:768px) {
            min-width: 488px;
        }
                 $border: 2px;
                 color: #FFF;
                 background: #000;
                 background-clip: padding-box;
                 border: solid $border transparent;
                 border-radius: 6px;
        
                 &:before {
                     content: '';
                     position: absolute;
                     top: 0;
                     right: 0;
                     bottom: 0;
                     left: 0;
                     z-index: -1;
                     margin: -$border;
                    
                     border-radius: inherit;
                     
                     background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
                 }

}

.downloads__list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    
    @media screen and (min-width:768px) {
        flex-basis: 50%;
        gap: 20px;
       
        }

    &:not(:last-child)::after {

    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 2px;
   
    background-color: transparent;
    background-image: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
    @media screen and (min-width:768px) {
            width: 2px;
            height: 100%;
            top: 0;
            right: 50%;
        }
    }
   
}

.downloads__item{
    display: flex;
    align-items: center;
    gap: 8px;
}

.download__title{
    color: var(--white-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
}

.download__link{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #1AB9FD;
}

.btn--modal{
    margin-top: 20px;
    @media screen and (min-width:768px) {
    margin-top: 32px;
    }
}

.btn__link{
    color: var(--white-color);
    position: relative;
    z-index: 100;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
}