.team {
 
 @media screen and (max-width: 767px) {
     margin-top: 40px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
  }

  &__member {
    max-width: 480px;
    border-radius: 15px;
    
  @media screen and (max-width: 767px) {
    
      margin-bottom: 24px;
    }

    @media screen and (min-width: 768px) {
      width: 336px;
    }
    @media screen and (min-width: 1280px) {
      width: 288px;
    }
  }

  &__person {
    text-align: center;
    font-size: 18px;
    line-height: 1.22;
    color: var(--white-color);
    padding-top: 24px;
  }
  &__position {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: var(--white-color);
    padding: 12 0;
  }

  &__depiction {
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 40px;
    max-width: 280px;
    @media screen and (min-width: 768px) {
      max-width: 704px;
      padding-top: 40px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 886px;
      padding: 80 0;
    }
  }
  &__picture {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
     @media screen and (max-width: 767px) {
    padding: 16px 16px 0px 16px;
    }
    @media screen and (min-width: 768px) {
      max-width: 296px;
      padding-top: 20px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 264px;
      padding-top: 14px;
    }
  }

  &__members {
      :last-child{
      margin-bottom: 0px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
      gap: 40px 32px;
    }
    @media screen and (min-width: 1280px) {
      
      gap: 32px;
    }
  }
}

.member-one {
  background: linear-gradient(
      313.81deg,
      rgba(0, 197, 235, 0.5) -7.83%,
      rgba(181, 68, 254, 0.5) 83.61%
    ),
    #06071b;
  backdrop-filter: blur(17.5px);
}
.member-two {
  background: linear-gradient(
      105.09deg,
      rgba(0, 197, 235, 0.5) -13.66%,
      rgba(181, 68, 254, 0.5) 104.34%
    ),
    #06071b;
  backdrop-filter: blur(17.5px);
}
.member-three {
  background: linear-gradient(
      105.09deg,
      rgba(0, 197, 235, 0.5) -13.66%,
      rgba(181, 68, 254, 0.5) 104.34%
    ),
    #06071b;
  backdrop-filter: blur(17.5px);
}
.member-four {
  background: linear-gradient(
      313.81deg,
      rgba(0, 197, 235, 0.5) -7.83%,
      rgba(181, 68, 254, 0.5) 83.61%
    ),
    #06071b;
  backdrop-filter: blur(17.5px);
}

.team-bg {
  width: 100vh;
  background-position: 50% -570px, 60% 673px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../images/team/teambg_sm1.png'),
    url('../images/team/teambg_sm2.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/team/teambg_sm1@2x.png'),
      url('../images/team/teambg_sm2@2x.png');
  }
   @media screen and (min-width: 768px) {
    background-position: 68% -337px, 20% 379px;
    background-image:url('../images/team/teambg_md1.png'),
      url('../images/team/teambg_md2.png');
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/team/teambg_md1@2x.png'),
      url('../images/team/teambg_md2@2x.png');
  }
   }
    @media screen and (min-width: 1280px) {
      background-position: 50% 20%, 50% 40%;;
      background-image:url('../images/team/teambg_lg1.png'),
      url('../images/team/teambg_lg2.png');
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/team/teambg_lg1@2x.png'),
      url('../images/team/teambg_lg2@2x.png');
  }
   }
}
