.video__background {
  width: 100%;
  background-color: var(--dark-background-color);
}

.video {
  margin: 0 auto;
  max-width: 480px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--white-color);
  // background-color: var(--dark-background-color);
  text-align: center;

  // Mobile screen
  background-position: bottom -10px right 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/video/gradient-1_mob@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/video/gradient-1_mob@2x.png);
  }

  // Tablet screen
  @media screen and (min-width: 768px) {
    background-position: top 0px left 0px, bottom -95px right 50%;
    background-size: 390px, 611px;
    background-image: url(../images/video/gradient-1_tab@1x.png),
      url(../images/video/gradient-2_tab@1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/video/gradient-1_tab@2x.png),
        url(../images/video/gradient-2_tab@2x.png);
    }
  }

  // Desktop screen
  @media screen and (min-width: 1280px) {
    background-position: top 60px left 150px, bottom -70px right 50px;
    background-size: 414px, 678px;
    background-image: url(../images/video/gradient-1_tab@1x.png),
      url(../images/video/gradient-2_tab@1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/video/gradient-1_tab@2x.png),
        url(../images/video/gradient-2_tab@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    margin: 0 auto;
    max-width: 768px;
    padding-top: 80px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0 auto;
    max-width: 1280px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.video__container {
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 161px;
  }
}

.video__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.21;
  }

  @media screen and (min-width: 1280px) {
    text-align: left;
  }
}

.video__text {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.19;
  }

  @media screen and (min-width: 1280px) {
    max-width: 479px;
    text-align: left;
  }
}

.video__list {
  display: flex;
  justify-content: center;
  gap: 20px;

  @media screen and (min-width: 1280px) {
    justify-content: start;
  }
}

.video__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #00c5eb -2%, #b544fe 90%);
}

.video__icon {
  fill: var(--white-color);
}

.video__thumb {
  margin-top: 106px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 49px;
  max-width: 480px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    margin: 0;
  }
}
