@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
a {
  text-decoration: none;
}

input {
  background: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

:root {
  --light-backround-color: #F6F7F7;
  --dark-background-color: #06071B;
  --gradient--background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  --white-color: #FFFFFF;
  --black-color: #000000;
}

.btn {
  position: relative;
  display: block;
  padding: 0;
  min-width: 200px;
  min-height: 42px;
  color: var(--white-color);
  border-radius: 6px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.btn--modal {
  min-width: 232px;
  min-height: 42px;
}
.btn--footer {
  min-width: 181px;
  min-height: 42px;
  text-transform: uppercase;
}
.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(0);
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 5px;
  background-color: var(--dark-background-color);
  opacity: 0;
  transition: 200ms;
}
.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
  background-image: var(--gradient--background);
  background-size: cover;
  background-repeat: no-repeat;
}

.btn:hover::after,
.btn:focus::after {
  opacity: 1;
  transform: translate(-50%, -50%) scaleX(1);
}

.btn__txt {
  position: relative;
  z-index: 10;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact {
  background-color: var(--dark-background-color);
}

.contact-title {
  color: #fff;
  padding-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .contact-title {
    padding-top: 74px;
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-title {
    margin: 80px auto;
  }
}

.subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  color: var(--white-color);
}
.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 41px;
}
@media screen and (min-width: 768px) {
  .text {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.сontacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.contacts__input {
  height: 40px;
  max-width: 280px;
  width: 100%;
  padding: 12px 8px;
  outline: transparent;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  transition: border-color;
}
@media screen and (min-width: 768px) {
  .contacts__input {
    max-width: 336px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__input {
    max-width: 288px;
  }
}

.contacts__comment {
  height: 220px;
  max-width: 336px;
  width: 100%;
  border-radius: 5px;
  resize: none;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .contacts__comment {
    max-width: 704px;
  }
}
.contacts__comment::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #939eac;
}
.contacts__comment:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #939eac;
}
.contacts__comment::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #939eac;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #00c5eb -2%, #b544fe 90%);
}

.icon-regular {
  transition: 400ms;
}
.socials__link:hover .socials__link-icon .icon-regular {
  opacity: 0;
}

.icon-hovered {
  opacity: 0;
  transition: 400ms;
}
.socials__link:hover .socials__link-icon .icon-hovered {
  opacity: 1;
}

.features__gradient {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../images/features/vector-top_mob.png"), url("../images/features/vector_mob.png");
  background-size: 480px;
  background-position: top -200px right 50%, bottom -200px left 50%;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .features__gradient {
    background-image: url("../images/features/vector-top_mob@2x.png"), url("../images/features/vector_mob@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .features__gradient {
    background: none;
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .features__gradient {
    padding-bottom: 105px;
    background-image: url("../images/features/vector-top_dec.png"), url("../images/features/vector_dec.png");
    background-position: right top -150px, left top;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .features__gradient {
    background-image: url("../images/features/vector-top_dec@2x.png"), url("../images/features/vector_dec@2x.png");
  }
}

.features__img {
  background-image: url("../images/features/features_mob.png");
  background-size: 280px 409px;
  background-repeat: no-repeat;
  background-position: 50% 40px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .features__img {
    background-image: url("../images/features/features_mob@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .features__img {
    background-image: url("../images/features/group_tab.png");
    background-size: 368px 592px;
    background-position: left 0;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .features__img {
    background-image: url("../images/features/group_tab@2x.png");
  }
}
@media screen and (min-width: 1280px) {
  .features__img {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../images/features/group_dec.png");
    background-size: 396px 596px;
    background-position: 50%;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .features__img {
    background-image: url("../images/features/group_dec@2x.png");
  }
}

.feature__padding {
  padding-top: 489px;
}
@media screen and (min-width: 768px) {
  .feature__padding {
    padding-top: 0;
  }
}

.features__main-title {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  color: var(--black-color);
  margin-bottom: 40px;
}

.features__main-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin: 40px auto;
}
@media screen and (min-width: 1280px) {
  .features__main-text {
    max-width: 886px;
    margin: 80px auto;
  }
}

.features__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .features__list {
    flex-direction: column;
    gap: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .features__list {
    margin: 0 auto;
    width: 970px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .features__item:nth-child(1) {
    margin-top: 672px;
    padding-left: 32px;
    margin-right: auto;
  }
  .features__item:nth-child(n+7):nth-child(7) {
    margin-bottom: -168px;
  }
  .features__item:nth-child(n+7):nth-child(odd) {
    margin-left: -373px;
    margin-bottom: -168px;
  }
  .features__item:nth-child(n+2) {
    margin-top: 0;
    margin-left: auto;
  }
  .features__item:nth-child(2) {
    margin-top: -839px;
  }
}
@media screen and (min-width: 1280px) {
  .features__item {
    flex-basis: calc((100% - 429px) / 2);
  }
}

.features__item-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-right: auto;
  gap: 13px;
  margin-bottom: 9px;
}

.features__item-container::after {
  content: "";
  width: 28px;
  height: 28px;
  background-image: url("../images/features/gear.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .features__item-container::after {
    background-image: url("../images/features/gear@2x.png");
  }
}

.features__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color);
}

.features__item-text {
  margin-left: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--black-color);
}

.features__width-text {
  width: 260px;
}
@media screen and (min-width: 768px) {
  .features__width-text {
    width: 278px;
  }
}
@media screen and (min-width: 1280px) {
  .features__width-text {
    width: 260px;
  }
}

.features__gradient {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../images/features/vector-top_mob.png"), url("../images/features/vector_mob.png");
  background-size: 480px;
  background-position: top -200px right 50%, bottom -200px left 50%;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .features__gradient {
    background-image: url("../images/features/vector-top_mob@2x.png"), url("../images/features/vector_mob@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .features__gradient {
    background: none;
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .features__gradient {
    padding-bottom: 105px;
    background-image: url("../images/features/vector-top_dec.png"), url("../images/features/vector_dec.png");
    background-position: right top -150px, left top;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .features__gradient {
    background-image: url("../images/features/vector-top_dec@2x.png"), url("../images/features/vector_dec@2x.png");
  }
}

.features__img {
  background-image: url("../images/features/features_mob.png");
  background-size: 280px 409px;
  background-repeat: no-repeat;
  background-position: 50% 40px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .features__img {
    background-image: url("../images/features/features_mob@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .features__img {
    background-image: url("../images/features/group_tab.png");
    background-size: 368px 592px;
    background-position: left 0;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .features__img {
    background-image: url("../images/features/group_tab@2x.png");
  }
}
@media screen and (min-width: 1280px) {
  .features__img {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../images/features/group_dec.png");
    background-size: 396px 596px;
    background-position: 50%;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .features__img {
    background-image: url("../images/features/group_dec@2x.png");
  }
}

.feature__padding {
  padding-top: 489px;
}
@media screen and (min-width: 768px) {
  .feature__padding {
    padding-top: 0;
  }
}

.features__main-title {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  color: var(--black-color);
  margin-bottom: 40px;
}

.features__main-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin: 40px auto;
}
@media screen and (min-width: 1280px) {
  .features__main-text {
    max-width: 886px;
    margin: 80px auto;
  }
}

.features__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .features__list {
    flex-direction: column;
    gap: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .features__list {
    margin: 0 auto;
    width: 970px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .features__item:nth-child(1) {
    margin-top: 672px;
    padding-left: 32px;
    margin-right: auto;
  }
  .features__item:nth-child(n+7):nth-child(7) {
    margin-bottom: -168px;
  }
  .features__item:nth-child(n+7):nth-child(odd) {
    margin-left: -373px;
    margin-bottom: -168px;
  }
  .features__item:nth-child(n+2) {
    margin-top: 0;
    margin-left: auto;
  }
  .features__item:nth-child(2) {
    margin-top: -839px;
  }
}
@media screen and (min-width: 1280px) {
  .features__item {
    flex-basis: calc((100% - 429px) / 2);
  }
}

.features__item-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-right: auto;
  gap: 13px;
  margin-bottom: 9px;
}

.features__item-container::after {
  content: "";
  width: 28px;
  height: 28px;
  background-image: url("../images/features/gear.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .features__item-container::after {
    background-image: url("../images/features/gear@2x.png");
  }
}

.features__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color);
}

.features__item-text {
  margin-left: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--black-color);
}

.features__width-text {
  width: 260px;
}
@media screen and (min-width: 768px) {
  .features__width-text {
    width: 278px;
  }
}
@media screen and (min-width: 1280px) {
  .features__width-text {
    width: 260px;
  }
}

.footer {
  background-color: #06071b;
}

.copyright {
  padding: 22px 83px 22px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #ffffff;
  border-top: 1px solid #ffffff;
}

.header {
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  background-color: var(--dark-background-color);
  background-image: linear-gradient(90.03deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);
  width: 100%;
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 1000;
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 19px;
    padding-bottom: 19px;
    top: 26px;
  }
}

.logo {
  font-size: 28px;
  line-height: 1.21;
  color: var(--white-color);
}

.container.header__container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    gap: 40px;
  }
}

.nav__link {
  color: var(--white-color);
  font-size: 12px;
  line-height: 1.25;
}

.header__btn {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: var(--dark-background-color);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-image: url(../images/menu/bg-mobile.png);
  background-size: 100%;
  transform: translateX(100%) translateY(-100%);
  transition: transform 250ms;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .menu-container {
    background-image: url(../images/menu/bg-mobile@2x.png);
  }
}
@media screen and (min-width: 481px) {
  .menu-container {
    background-image: url(../images/menu/img.bg-l.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .menu-container {
    background-image: url(../images/menu/img.bg-l@2x.png);
  }
}
.menu-container.is-open {
  transform: translate(0);
}

.menu__btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 16px;
  right: 20px;
}

.menu__logo {
  position: absolute;
  top: 16px;
  left: 20px;
}

.menu-container.container {
  max-width: 100%;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 100px;
}
@media screen and (min-width: 481px) {
  .menu__list {
    margin-top: 140px;
    gap: 44px;
  }
}

.menu__link {
  color: var(--white-color);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.22;
}
@media screen and (min-width: 481px) {
  .menu__link {
    font-size: 48px;
    line-height: 1.21;
  }
}
.menu__link:active {
  background-image: var(--gradient--background);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero {
  padding-top: 182px;
  padding-bottom: 122px;
  color: var(--white-color);
  background-color: var(--dark-background-color);
  background-repeat: no-repeat;
  background-size: 320px;
  background-position: top 0 right 0;
  background-image: url(../images/hero/main_mob@1x.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/main_mob@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-size: 362px;
    background-position: bottom 0 right 207px;
    background-image: url(../images/hero/icons_tab@1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/icons_tab@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    background-size: 541px;
    background-position: bottom 39 right 400px;
    background-image: url(../images/hero/icons_desk@1x.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/icons_desk@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 142px;
    padding-bottom: 143px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 243px;
    padding-bottom: 146px;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 40px;
    line-height: 1.2;
  }
}

.hero__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 20px;
}
@media screen and (max-width: 375px) {
  .hero__subtitle {
    max-width: 241px;
  }
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    margin-bottom: 28px;
  }
}

.hero__list {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .hero__list {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 1.19;
  }
}

.hero__item {
  position: relative;
  margin-left: 22px;
}
.hero__item:not(:last-of-type) {
  margin-bottom: 16px;
}
.hero__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -22;
  width: 18px;
  height: 18px;
  background-image: url(../images/hero/icon-arrow.svg);
}
@media screen and (min-width: 768px) {
  .hero__item:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.hero__btn {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    margin: 0;
  }
}

.hero__container {
  position: relative;
}

.hero__thumb {
  position: absolute;
  z-index: 20;
  top: -5px;
  right: -5px;
  width: 425px;
}
@media screen and (max-width: 767px) {
  .hero__thumb {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hero__thumb {
    top: -127px;
    right: 20px;
    width: 560px;
  }
}

.team {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.team__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
.team__member {
  width: 284px;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .team__member {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .team__member {
    width: 288px;
  }
}
.team__person {
  text-align: center;
  font-size: 18px;
  line-height: 1.22;
  color: var(--white-color);
  padding-top: 24px;
}
.team__position {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--white-color);
  padding: 12 0;
}
.team__depiction {
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 40px;
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .team__depiction {
    max-width: 704px;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .team__depiction {
    max-width: 886px;
    padding: 80 0;
  }
}
.team__picture {
  display: block;
  max-width: 280px;
  width: 100%;
  padding-top: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .team__picture {
    max-width: 296px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .team__picture {
    max-width: 264px;
    padding-top: 14px;
  }
}
.team__members {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .team__members {
    gap: 40px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .team__members {
    flex-wrap: nowrap;
    gap: 32px;
  }
}

.member-one {
  background: linear-gradient(313.81deg, rgba(0, 197, 235, 0.5) -7.83%, rgba(181, 68, 254, 0.5) 83.61%), #06071b;
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
}

.member-two {
  background: linear-gradient(105.09deg, rgba(0, 197, 235, 0.5) -13.66%, rgba(181, 68, 254, 0.5) 104.34%), #06071b;
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
}

.member-three {
  background: linear-gradient(105.09deg, rgba(0, 197, 235, 0.5) -13.66%, rgba(181, 68, 254, 0.5) 104.34%), #06071b;
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
}

.member-four {
  background: linear-gradient(313.81deg, rgba(0, 197, 235, 0.5) -7.83%, rgba(181, 68, 254, 0.5) 83.61%), #06071b;
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
}

.team-bg {
  width: 100%;
  background-position: 50% -185px, 50% 280px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/team/teambg_sm1.png"), url("../images/team/teambg_sm2.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .team-bg {
    background-image: url("../images/team/teambg_sm1@2x.png"), url("../images/team/teambg_sm2@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .team-bg {
    background-position: 68% 52px, 20% -83px;
    background-image: url("../images/team/teambg_md1.png"), url("../images/team/teambg_md2.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .team-bg {
    background-image: url("../images/team/teambg_md1@2x.png"), url("../images/team/teambg_md2@2x.png");
  }
}
@media screen and (min-width: 1280px) {
  .team-bg {
    background-position: 68% -364px, 20% -83px;
    background-image: url("../images/team/teambg_lg1.png"), url("../images/team/teambg_lg2.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .team-bg {
    background-image: url("../images/team/teambg_lg1@2x.png"), url("../images/team/teambg_lg2@2x.png");
  }
}

.backdrop {
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10000;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding: 48px 24px;
  max-width: 480px;
  width: 100%;
  position: relative;
  background-color: var(--dark-background-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(0);
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 568px;
    padding: 32px 40px;
  }
}
.modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  display: block;
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .modal__title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 28px;
  }
}

.download__chekcbox {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.download__chekcbox:focus-within .modal__item {
  background-image: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
}

.modal__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .modal__list {
    gap: 22px;
  }
}

.modal__item {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 233px;
  position: relative;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-radius: 6px;
  border-image-source: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  flex-grow: 1;
}

.list__subtitle {
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.list__items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 25px 28px 20px;
}

.list__item {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.list__item::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../images/hero/icon-right-arrow.svg);
}

.download__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__text {
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 28px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal__text {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.modal__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid;
  max-width: 232px;
  border-image-slice: 1;
  border-width: 2px;
  border-radius: 6px;
  border-image-source: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
}
@media screen and (min-width: 768px) {
  .modal__wrapper {
    min-width: 488px;
  }
}

.downloads__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .downloads__list {
    flex-basis: 50%;
    gap: 20px;
  }
}
.downloads__list:not(:last-child)::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  background-image: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
}
@media screen and (min-width: 768px) {
  .downloads__list:not(:last-child)::after {
    width: 2px;
    height: 100%;
    top: 0;
    right: 50%;
  }
}

.downloads__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.download__title {
  color: var(--white-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
}

.download__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #1AB9FD;
}

.btn--modal {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .btn--modal {
    margin-top: 32px;
  }
}

.btn__link {
  color: var(--white-color);
  position: relative;
  z-index: 100;
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
}/*# sourceMappingURL=index.css.map */