<!-- Contact -->
<div class="bg-image">
  <section id="contact" class="contact">
    <h2 class="contacts__title">Contact us</h2>
    <div class="contacts__wrapper container">
      <form class="form">
        <input
          class="form__input name"
          type="text"
          name="user-name"
          id="name"
          placeholder="Name"
          pattern="^[A-Za-z\s]{3,33}"
          required
        />

        <input
          class="form__input mail"
          type="email"
          name="mail"
          placeholder="Email"
          pattern="^([a-z0-9_\.-]+)@([a-z0-9_\.-]+)\.([a-z\.]{2,6})$"
          required
        />

        <textarea
          class="form__comment"
          name="comment"
          rows="7"
          placeholder="Message"
        ></textarea>

        <button type="submit" class="btn btn--footer">
          <span class="btn__txt">Submit</span>
        </button>
      </form>
      <div class="socials__wrapper">
        <h3 class="socials__wrapper-title">Get in touch with us</h3>
        <p class="socials__wrapper-text">
          Nunc urna est, tristique et varius at, pharetra nec enim. Quisque
          rhoncus lacus fringilla nulla sollicitudin tristique.
        </p>
        <ul class="socials__list">
          <li>
            <a class="socials__link" href="#">
              <svg class="socials__link-icon" width="40" height="40">
                <use
                  class="icon-regular"
                  href="./images/icons.svg#icon-facebook"
                ></use>
                <use
                  class="icon-hovered"
                  href="./images/icons.svg#icon-facebook-hovered"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="socials__link" href="#">
              <svg class="socials__link-icon" width="40" height="40">
                <use
                  class="icon-regular"
                  href="./images/icons.svg#icon-twitter"
                ></use>
                <use
                  class="icon-hovered"
                  href="./images/icons.svg#icon-twitter-hovered"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="socials__link" href="#">
              <svg class="socials__link-icon" width="40" height="40">
                <use
                  class="icon-regular"
                  href="./images/icons.svg#icon-linkedin"
                ></use>
                <use
                  class="icon-hovered"
                  href="./images/icons.svg#icon-linkedin-hovered"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="contacts__list">
          <li>
            <a class="contacts__tel" href="tel:+xxxxxxxxxxxx"
              >+xx-xxxx-xxxx-xx</a
            >
          </li>
          <li>
            <a class="contacts__mail" href="mailto:goIteens@gmail.com"
              >goIteens@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
