<!-- Contact -->
<section id="contact" class="contact">
    <h2 class="contacts__title">Contact us</h2>
   <div class="contacts-wrapper container">
    <form class="contacts">
        <input class="contacts__input name" type="text" name="user-name" id="name" placeholder="Name" required  pattern="^[a-zA-Z]+\s[a-zA-Z]+$" />
    
        <input class="contacts__input mail" type="email" name="mail" required placeholder="Email" />
    
        <textarea class="contacts__comment" name="comment" rows="7" placeholder="Message"></textarea>
    
        <button type="submit" class="btn btn--footer"><span class="btn__txt">Submit</span></button>
    </form>
    <div class="feedback">
        <h3 class="feedback-title">Get in touch with us</h3>
        <p class="feedback-text">
            Nunc urna est, tristique et varius at, pharetra nec enim. Quisque rhoncus lacus fringilla
            nulla sollicitudin tristique.
        </p>
        <ul class="social__list">
            <li>
                <a class="social__link" href="#">
                    <svg class="social__link-icon" width="40" height="40">
                        <use class="icon-regular" href="./images/icons.svg#icon-facebook"></use>
                        <use class="icon-hovered" href="./images/icons.svg#icon-facebook-hovered"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social__link" href="#">
                    <svg class="social__link-icon" width="40" height="40">
                        <use class="icon-regular" href="./images/icons.svg#icon-twitter"></use>
                        <use class="icon-hovered" href="./images/icons.svg#icon-twitter-hovered"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social__link" href="#">
                    <svg class="social__link-icon" width="40" height="40">
                        <use  class="icon-regular" href="./images/icons.svg#icon-linkedin"></use>
                        <use class="icon-hovered" href="./images/icons.svg#icon-linkedin-hovered"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <ul class="socials__list">
            <li><a class="socials__tel" href="tel:+xxxxxxxxxxxx">+xx-xxxx-xxxx-xx</a></li>
            <li><a class="socials__mail" href="mailto:goIteens@gmail.com">goIteens@gmail.com</a></li>
        </ul>
        </div>
    </div>
</section>