<section class="features" id="features">
    <div class="container features_img">
        <a href="">trtrtrtrt</a>
        <input type="text">
     <h1 class="features__main-text">KEY FEATURES</h1>
        <h2>Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque.
    In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</h2>
    <ul class="features__container">
        <li>
            <img src="" alt="">
            <h1>Amet varius</h1>
            <p>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                diam a iaculis malesuada
            </p>
        </li>
        <li>
            <img src="" alt="">
            <h1>Amet varius</h1>
            <p>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                diam a iaculis malesuada
            </p>
        </li>
        <li>
            <img src="" alt="">
            <h1>Amet varius</h1>
            <p>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                diam a iaculis malesuada
            </p>
        </li>
        <li>
            <img src="" alt="">
            <h1>Amet varius</h1>
            <p>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                diam a iaculis malesuada
            </p>
        </li>
        <li>
            <img src="" alt="">
            <h1>Amet varius</h1>
            <p>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                diam a iaculis malesuada
            </p>
        </li>
        <li>
            <img src="" alt="">
            <h1>Amet varius</h1>
            <p>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                diam a iaculis malesuada
            </p>
        </li>
        <li>
            <img src="" alt="">
            <h1>Amet varius</h1>
            <p>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                diam a iaculis malesuada
            </p>
        </li>
    </ul>
    </div>
</section>