<section class="features" id="features">
    <div class="container">
     <h1 class="features__main-title">KEY FEATURES</h1>
        <h2 class="features__main-text">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque.
    In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</h2>
    <div class="features__img">
        <ul class="features__list feature__padding">
            <li class="features__item">
                <div class="features__item-container">
                    <picture>
                        <source srcset="./images/features/gear.png 1x,
                        ./images/features/gear@2x.png 2x" type="image/png">
                        <img src="./images/features/gear.png" alt="Gear NFT" loading="lazy" width="28" height="28">
                    </picture>
                    <h1 class="features__item-title">Amet varius</h1>
                </div>
                <p class="features__item-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                    diam a iaculis malesuada
                </p>
            </li>
            <li class="features__item">
                <div class="features__item-container">
                    <picture>
                            <source srcset="./images/features/gear.png 1x,
                            ./images/features/gear@2x.png 2x" type="image/png">
                            <img src="./images/features/gear.png" alt="Gear NFT" loading="lazy" width="28" height="28">
                        </picture>
                    <h1 class="features__item-title">Amet varius</h1>
                </div>
                <p class="features__item-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                    diam a iaculis malesuada
                </p>
            </li>
            <li class="features__item">
                <div class="features__item-container">
                    <picture>
                            <source srcset="./images/features/gear.png 1x,
                            ./images/features/gear@2x.png 2x" type="image/png">
                            <img src="./images/features/gear.png" alt="Gear NFT" loading="lazy" width="28" height="28">
                        </picture>
                    <h1 class="features__item-title">Amet varius</h1>
                </div>
                <p class="features__item-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                    diam a iaculis malesuada
                </p>
            </li>
            <li class="features__item">
                <div class="features__item-container">
                    <picture>
                            <source srcset="./images/features/gear.png 1x,
                            ./images/features/gear@2x.png 2x" type="image/png">
                            <img src="./images/features/gear.png" alt="Gear NFT" loading="lazy" width="28" height="28">
                        </picture>
                    <h1 class="features__item-title">Amet varius</h1>
                </div>
                <p class="features__item-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                    diam a iaculis malesuada
                </p>
            </li>
            <li class="features__item">
                <div class="features__item-container">
                    <picture>
                            <source srcset="./images/features/gear.png 1x,
                            ./images/features/gear@2x.png 2x" type="image/png">
                            <img src="./images/features/gear.png" alt="Gear NFT" loading="lazy" width="28" height="28">
                        </picture>
                    <h1 class="features__item-title">Amet varius</h1>
                </div>
                <p class="features__item-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                    diam a iaculis malesuada
                </p>
            </li>
            <li class="features__item">
                <div class="features__item-container">
                    <picture>
                            <source srcset="./images/features/gear.png 1x,
                            ./images/features/gear@2x.png 2x" type="image/png">
                            <img src="./images/features/gear.png" alt="Gear NFT" loading="lazy" width="28" height="28">
                        </picture>
                    <h1 class="features__item-title">Amet varius</h1>
                </div>
                <p class="features__item-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                    diam a iaculis malesuada
                </p>
            </li>
            <li class="features__item">
                <div class="features__item-container">
                    <picture>
                            <source srcset="./images/features/gear.png 1x,
                            ./images/features/gear@2x.png 2x" type="image/png">
                            <img src="./images/features/gear.png" alt="Gear NFT" loading="lazy" width="28" height="28">
                        </picture>
                    <h1 class="features__item-title">Amet varius</h1>
                </div>
                <p class="features__item-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
                    diam a iaculis malesuada
                </p>
            </li>
        </ul>
    </div>
    </div>
</section>