<header class="header">
  <a href="./index.html" class="logo">Mobileapp</a>
  <ul class="nav">
    <li class="nav__item"><a href="#hero" class="nav__link">HOME</a></li>
    <li class="nav__item">
      <a href="#features" class="nav__link">FEATURES</a>
    </li>
    <li class="nav__item"><a href="#team" class="nav__link">TEAM</a></li>
    <li class="nav__item">
      <a href="#testimonials" class="nav__link">TESTIMONIALS</a>
    </li>
    <li class="nav__item"><a href="#contact" class="nav__link">CONTACT</a></li>
  </ul>

  <button
    class="header__btn js-open-menu"
    type="button"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <!-- <svg class="header__icon" width="24" height="14">
      <use href="./images/icons.svg#icon-menu"></use>
    </svg> -->
  </button>
  <div class="menu js-menu-container" id="mobile-menu">
    <button class="menu__btn menu-toggle js-close-menu">
      <svg class="btn__icon" width="24" height="24">
        <!-- <use href="./images/icons.svg#icon-close"></use> -->
      </svg>
    </button>
    <ul class="menu__list">
      <li class="menu__item"><a href="#hero" class="menu__link">HOME</a></li>
      <li class="menu__item">
        <a href="#features" class="menu__link">FEATURES</a>
      </li>
      <li class="menu__item"><a href="#team" class="menu__link">TEAM</a></li>
      <li class="menu__item">
        <a href="#testimonials" class="menu__link">TESTIMONIALS</a>
      </li>
      <li class="menu__item">
        <a href="#contact" class="menu__link">CONTACT</a>
      </li>
    </ul>
  </div>
</header>
