<section class="hero" id="hero">
  <div class="container">
    <h1 class="hero__title">Introducing Mobileapp</h1>
    <h2 class="hero__subtitle">Maecenas vitae tellus sapien. Prasent</h2>
    <ul class="hero__list">
      <li class="hero__item">semper scelerisque tristique a enim</li>
      <li class="hero__item">Integer ut mattis nulla, eget vehicula elit</li>
      <li class="hero__item">Prasent rutrum ac nunc et</li>
    </ul>
    <button class="hero__btn btn" type="button"><span class="btn__txt">Download</span></button>
  </div>
</section>
