<section class="team">
  <h2 class="team__title">OUR TEAM</h2>
  <p>
    Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
    neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
    Praesent luctus mi quis nisi interdum eleifend.
  </p>
  <ul>
    <li class="team__members">
      <picture>
        <source
          media="(min-width: 264px)"
          srcset="
            ./images/team/team_lg1.png    1x,
            ./images/team/team_lg1@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 296px)"
          srcset="
            ./images/team/team_md1.png    1x,
            ./images/team/team_md1@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 248px)"
          srcset="
            ./images/team/team_sm1.png    1x,
            ./images/team/team_sm2@2x.png 2x
          "
          type="image/png"
        />
        <img src="./images/team/team_lg1.png" alt="Jon Doe" loading="lazy" />
      </picture>
      <h3>Jon Doe</h3>
      <p>Managing Direcor</p>
    </li>
    <li class="team__members">
      <picture>
        <source
          media="(min-width: 264px)"
          srcset="
            ./images/team/team_lg2.png    1x,
            ./images/team/team_lg2@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 296px)"
          srcset="
            ./images/team/team_md2.png    1x,
            ./images/team/team_md2@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 248px)"
          srcset="
            ./images/team/team_sm2.png    1x,
            ./images/team/team_sm2@2x.png 2x
          "
          type="image/png"
        />
        <img src="./images/team/team_lg2.png" alt="Jane Doe" loading="lazy" />
      </picture>
      <h3>Jane Doe</h3>
      <p>Lead Designer</p>
    </li>
    <li class="team__members">
      <picture>
        <source
          media="(min-width: 264px)"
          srcset="
            ./images/team/team_lg3.png    1x,
            ./images/team/team_lg3@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 296px)"
          srcset="
            ./images/team/team_md3.png    1x,
            ./images/team/team_md3@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 248px)"
          srcset="
            ./images/team/team_sm3.png    1x,
            ./images/team/team_sm3@2x.png 2x
          "
          type="image/png"
        />
        <img src="./images/team/team_lg3.png" alt="Jane Doe" loading="lazy" />
      </picture>
      <h3>Jane Doe</h3>
      <p>Lead Developer</p>
    </li>
    <li class="team__members">
      <picture>
        <source
          media="(min-width: 264px)"
          srcset="
            ./images/team/team_lg4.png    1x,
            ./images/team/team_lg4@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 296px)"
          srcset="
            ./images/team/team_md4.png    1x,
            ./images/team/team_md4@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 248px)"
          srcset="
            ./images/team/team_sm4.png    1x,
            ./images/team/team_sm4@2x.png 2x
          "
          type="image/png"
        />
        <img src="./images/team/team_lg4.png" alt="Jon Doe" loading="lazy" />
      </picture>
      <h3>Jon Doe</h3>
      <p>Sr. UI Designer</p>
    </li>
  </ul>
</section>
