<section class="team container">
  <h2 class="team__title">OUR TEAM</h2>
  <p class="team__depiction">
    Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
    neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
    Praesent luctus mi quis nisi interdum eleifend.
  </p >
  <ul class="team__members">
    <li class="team__member member-one">
      <picture class="team__picture">
        <source
          media="(min-width: 264px)"
          srcset="
            ./images/team/team_lg1.png    1x,
            ./images/team/team_lg1@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 296px)"
          srcset="
            ./images/team/team_md1.png    1x,
            ./images/team/team_md1@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 248px)"
          srcset="
            ./images/team/team_sm1.png    1x,
            ./images/team/team_sm2@2x.png 2x
          "
          type="image/png"
        />
        <img src="./images/team/team_lg1.png" alt="Jon Doe" loading="lazy" />
      </picture>
      <h3 class="team__person">Jon Doe</h3>
      <h4 class="team__position">Managing Direcor</h4>
    </li>
    <li class="team__member member-two">
      <picture class="team__picture">
        <source
          media="(min-width: 264px)"
          srcset="
            ./images/team/team_lg2.png    1x,
            ./images/team/team_lg2@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 296px)"
          srcset="
            ./images/team/team_md2.png    1x,
            ./images/team/team_md2@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 248px)"
          srcset="
            ./images/team/team_sm2.png    1x,
            ./images/team/team_sm2@2x.png 2x
          "
          type="image/png"
        />
        <img src="./images/team/team_lg2.png" alt="Jane Doe" loading="lazy" />
      </picture >
      <h3 class="team__person">Jane Doe</h3>
      <h4 class="team__position">Lead Designer</h4>
    </li>
    <li class="team__member member-three">
      <picture class="team__picture">
        <source
          media="(min-width: 264px)"
          srcset="
            ./images/team/team_lg3.png    1x,
            ./images/team/team_lg3@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 296px)"
          srcset="
            ./images/team/team_md3.png    1x,
            ./images/team/team_md3@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 248px)"
          srcset="
            ./images/team/team_sm3.png    1x,
            ./images/team/team_sm3@2x.png 2x
          "
          type="image/png"
        />
        <img src="./images/team/team_lg3.png" alt="Jane Doe" loading="lazy" />
      </picture>
      <h3 class="team__person">Jane Doe</h3>
      <h4 class="team__position">Lead Developer</h4>
    </li>
    <li class="team__member member-four">
      <picture class="team__picture">
        <source
          media="(min-width: 264px)"
          srcset="
            ./images/team/team_lg4.png    1x,
            ./images/team/team_lg4@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 296px)"
          srcset="
            ./images/team/team_md4.png    1x,
            ./images/team/team_md4@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 248px)"
          srcset="
            ./images/team/team_sm4.png    1x,
            ./images/team/team_sm4@2x.png 2x
          "
          type="image/png"
        />
        <img src="./images/team/team_lg4.png" alt="Jon Doe" loading="lazy" />
      </picture>
      <h3 class="team__person">Jon Doe</h3>
      <h4 class="team__position">Sr. UI Designer</h4>
    </li>
  </ul>
</section>
