<section class="team">
  <h2 class="team__title">OUR TEAM</h2>
  <ul>
    <li class="team__members">
      <!-- <source
    media="(min-width: 248px)"
    srcset="./images/ 1x, ./images/ 2x"
    type="image/jpg"
    alt="Jon Doe"
  /> -->
      <h3>Jon Doe</h3>
      <p>Managing Direcor</p>
    </li>
    <li class="team__members">
      <h3>Jon Doe</h3>
      <p>Lead Designer</p>
    </li>
    <li class="team__members">
      <h3>Jon Doe</h3>
      <p>Lead Developer</p>
    </li>
    <li class="team__members">
      <h3>Jon Doe</h3>
      <p>Sr. UI Designer</p>
    </li>
  </ul>
</section>
