<section class="testimonials">
    <div class="container">
        <h1 class="testimonials__title">
            WHAT OUR COSTUMER’S SAY
        </h1>
        <div class="testimonials__container-people">
            <picture>
                <source srcset="./images/testimonials/people.png 1x,
                ./images/testimonials/people@2x.png 2x">
                <img class="testimonials__img" src="./images/testimonials/people.png" alt="People company" width="181" height="181">
            </picture>
            <h2 class="testimonials__name-text">Jon Doe</h2>
            <p class="testimonials__company-text">Company Inc.</p>
        </div>
        <p class="testimonials__text">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien 
            condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. 
            Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. 
            Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante pulvinar, id 
        </p>
        <ul class="testimonials__list">
            <li class="testimonials__item testimonials__item-color"></li>
            <li class="testimonials__item"></li>
            <li class="testimonials__item"></li>
            <li class="testimonials__item"></li>
            <li class="testimonials__item"></li>
            <li class="testimonials__item"></li>
        </ul>
    </div>
</section>